/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

$link: #444;
$link-hover: #222;

@import "bulma";
@import "functions";
@import "items";
@import "font-awesome-sprockets";
@import "font-awesome";

.navbar-link {
  line-height: 1rem !important;
}

.navbar-item:hover {
  border-radius: 5px !important;
  background-color: rgba(31, 156, 238, 0.5) !important;
}

.hero-body {
  padding: 2rem 1.5rem !important;
}


.item-container {
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.info-container {
  display: flex;
  height: 50%;
  bottom: 0;
}


.notification {
  border-radius: 0;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

.item-index-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

  .condition-tag {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
  }

  .item {
    border-left: 0;
    border-top: 0;
    position: relative;
    max-height: 350px;

    .title {
      line-height: 1.6rem;
      position: absolute;
      bottom: 30%;
      display: flex;
      justify-content: space-between;
    }

    #description {
      font-size: 12px !important;
      position: absolute;
      bottom: 25%;
    }

    .sold-by {
      position: absolute;
      bottom: 40px;
    }

    .price {
      position: absolute;
      bottom: 5px;
      right: 5px;
    }

    .owner-buttons {
      position: absolute;
      bottom: 10px;
    }
  }

  .item-thumb {
    position: relative;
    max-height: 100%;
    overflow: hidden;

    img {
      max-width: 100%;
      width: 100%;
      padding: 5px;
      &:hover {
        opacity: .9;
      }
    }
  }
}

.notification:not(:last-child) {
  margin-bottom: 0;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.navbar-gif {
  img {
    height: auto;
    max-width: 6%;
    display: flex;
    position: absolute;
    left: 240px;
    animation: 30s ease-out 0s infinite img;
  }
}

@keyframes img {
  0% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(600px);
  }
}
